*{
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(255, 255, 255);
  display: grid;
  place-items: center;
  margin-top: 10%;
}


h1 {
    text-align: center;
    color: #0a0a0a;
}


.container {
     
    background-image: radial-gradient(
        circle 369px at -2.9% 9.9%,
        rgba(247,234,163,1) 5%,
        rgba(247, 157, 250, 0.56) 40.6%,
        rgba(163,203,247,1)139.7% ); 
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 5px 15px 30px rgba(128,128,128,0.384);
}

label{
    font-size: larger;
    font-weight: 500;
    margin-right: 9px;
    color: #0a0a0a;
   }


input{
    border: none;
    padding: 10px;
    font-size: large;
    outline: none;
    border-radius: 10px;
    background-color: #fef6f6;
    color: #616161;
 
}
/* 
input[type = "date"]::-webkit-calendar-picker-indicator{
 
filter: invert();

}  */


.btns{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px ;

}

button{
    width: 50%;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    color: black;

}

span{
    font-weight: bold;
}

ul{
    font-size: large;
    color: #0a0a0a;
}

li::marker{
    color: grey;
}


@media (max-width: 768px) {
  /* Styles for screens smaller than 768px */
  .container {
    width: 90%;
  }
  
  button {
    width: 80%;
  }
}

@media (max-width: 480px) {
  /* Styles for screens smaller than 480px */
  body {
    margin-top: 20%;
  }
  
  .container {
    padding: 10px;
  }
  
  button {
    width: 100%;
  }
}

